$primary_colour: #fff;
$primary_background_colour: #323232;
$secondary_colour: #3a64af;
$secondary_background_colour: #2f0063;
$secondary_background: linear-gradient(217deg, #3a64af, rgba(255,0,0,0) 70.71%), linear-gradient(127deg, #2f0063, rgba(0,255,0,0) 70.71%), linear-gradient(336deg, #6b0aba, rgba(0,0,255,0) 70.71%);
$font: sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  color: $primary_colour;
  font-family: $font;
  background: $secondary_background;
}

a {
  text-decoration: none;
  color: $primary_colour;
}

.room {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;

  .cloth {
    flex: 3 1 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h1 {
      text-align: center;
      font-size: 64px;
    }
  }

  .napkin {
    flex: 1 1 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h2 {
      text-align: center;
    }
  }

  .table {
    flex: 2 1 200px;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    @media all and (min-width: 600px) {
      flex-direction: row;
      align-items: flex-start;
    }
    @media all and (max-width: 600px) {
      flex-direction: column;
      align-items: stretch;
    }

    .plate {
      background: $primary_colour;
      margin: 16px;
      padding: 16px;
      font-size: 24px;
      border-radius: 16px;
      transform: translateY(0px);
      transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
      box-shadow: 0 0 0 $primary_background_colour;
      text-align: center;
      @media all and (min-width: 600px) {
        min-height: 50px;
        flex: 1 1 100px;
      }
      @media all and (max-width: 600px) {
        min-height: 0;
        flex: 1 1 0;
      }

      &:nth-child(odd) {
        background: #ad2a2f;
      }

      &:nth-child(even) {
        background: #4860a4;
      }

      &:hover {
        transform: translateY(-16px);
        box-shadow: 0 16px 0 $primary_background_colour;
      }
    }
  }

  .floor {
    flex: 1 1 50px;
  }
}