// Import the colour palette

@import "palette";

// Animations

@keyframes wavvy_text {
  0% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }

  25% {
    transform: rotate(1deg) translateY(0) scale(1);
  }

  50% {
    transform: rotate(0deg) translateY(-5px) scale(0.99);
  }

  75% {
    transform: rotate(-1deg) translateY(0) scale(1);
  }

  100% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }
}
@keyframes rotation {
  from {
    // filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    // filter: hue-rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes backgroundscroll {
  from {
    //transform: translate3d(0, 0, 0);
    background-position: 0 0;
  }

  to {
    //transform: translate3d(-100%, 0, 0);
    background-position: -100% 0;
  }
}

// Global styles

* {
  margin: 0;
  padding: 0;
}

body {
  color: $primary_colour;
  font-family: $font;
  background: $primary_background_colour;
}

a {
  text-decoration: none;
  color: $primary_colour;
}

.fixed{
  position: fixed;
}

.sticky{
  position: sticky;
}

// Navigation related styles

.nav{
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: start;

  a{
    border-radius: 0 0 50px 50px;
    background: $primary_background_colour;
    overflow: hidden;
    margin: 0 12px;
    height: 130px;
    width: 58px;
    transform: translateY(-80px);
    box-shadow: 0 0 5px black;
    transition: transform .3s ease-out;

    &:hover{
      transform: translateY(0px);
    }
  }

  img{
    height: 38px;
    padding: 4px 10px 8px 10px;
  }

  p{
    writing-mode: vertical-rl;
    font-weight: bolder;
    height: 69px;
    width: 36px;
    text-align: left;
    line-height: 18px;
    margin: 8px 6px 3px 6px;
  }
}

// Wrapper styles

.wrapper {
  width: 80%;
  padding: 10%;
  margin: auto;
}

.wrapper-100-100 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper-100w {
  width: 100%;
  overflow: hidden;
}

// Hero related styles

.hero-flex-col-start{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Background related styles

.scrolling-background {
  width: 300%;
  height: 100%;
  animation: 60s linear infinite backgroundscroll;
  background-repeat: repeat-x;
}

.blur-background {
  background: $secondary_background;
  backdrop-filter: blur(10px);
}

.stripped-red-dark-background{
  background: linear-gradient(to left, darken($secondary_colour,50%),darken($secondary_colour,50%) 50%,lighten($primary_background_colour, 5%) 50%,lighten($primary_background_colour, 5%)) repeat;
  background-size: 10%;
}

.dark-background{
  background: $primary_background_colour;
}

// Title images and text related styles

.title{
  text-shadow: 0 0 5px black;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  img{
    width: 80%;
  }
}

// Text related styles

.heading{
  font-weight: bolder;
  font-size: 38px;
}

.project-link{
  font-weight: bolder;
  color: $secondary_colour;
  font-size: 70px;
  margin: 12px 6px;

  &:hover{
    color: $primary_colour;
  }
}

.paragraph{
  font-weight: bolder;
  font-size: 40px;
  margin: 12px 6px;
}

// Footer related styles

.footer{
  width: 100%;
  height: 40px;
  background: $primary_background_colour;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;

  p {
    text-align: center;
    display: inline-block;
  }
}

// Spans and in-text links

.heart {
  padding: 6px;
  margin: 0 4px;
  display: inline-block;

  &:hover {
    animation: .3s infinite linear rotation;
  }
}

p a{
  font-weight: bolder;
  color: $secondary_colour;

  &:hover{
    color: $primary_colour;
  }
}