@-webkit-keyframes wavvy_text {
  0% {
    -webkit-transform: rotate(0deg) translateY(5px) scale(1.01);
            transform: rotate(0deg) translateY(5px) scale(1.01);
  }
  25% {
    -webkit-transform: rotate(1deg) translateY(0) scale(1);
            transform: rotate(1deg) translateY(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(-5px) scale(0.99);
            transform: rotate(0deg) translateY(-5px) scale(0.99);
  }
  75% {
    -webkit-transform: rotate(-1deg) translateY(0) scale(1);
            transform: rotate(-1deg) translateY(0) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(5px) scale(1.01);
            transform: rotate(0deg) translateY(5px) scale(1.01);
  }
}

@keyframes wavvy_text {
  0% {
    -webkit-transform: rotate(0deg) translateY(5px) scale(1.01);
            transform: rotate(0deg) translateY(5px) scale(1.01);
  }
  25% {
    -webkit-transform: rotate(1deg) translateY(0) scale(1);
            transform: rotate(1deg) translateY(0) scale(1);
  }
  50% {
    -webkit-transform: rotate(0deg) translateY(-5px) scale(0.99);
            transform: rotate(0deg) translateY(-5px) scale(0.99);
  }
  75% {
    -webkit-transform: rotate(-1deg) translateY(0) scale(1);
            transform: rotate(-1deg) translateY(0) scale(1);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(5px) scale(1.01);
            transform: rotate(0deg) translateY(5px) scale(1.01);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes backgroundscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}

@keyframes backgroundscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: sans-serif;
  background: #121212;
}

a {
  text-decoration: none;
  color: #fff;
}

.fixed {
  position: fixed;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.nav {
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.nav a {
  border-radius: 0 0 50px 50px;
  background: #121212;
  overflow: hidden;
  margin: 0 12px;
  height: 130px;
  width: 58px;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.nav a:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.nav img {
  height: 38px;
  padding: 4px 10px 8px 10px;
}

.nav p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: bolder;
  height: 69px;
  width: 36px;
  text-align: left;
  line-height: 18px;
  margin: 8px 6px 3px 6px;
}

.wrapper {
  width: 80%;
  padding: 10%;
  margin: auto;
}

.wrapper-100-100 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper-100w {
  width: 100%;
  overflow: hidden;
}

.hero-flex-col-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.hero-flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrolling-background {
  width: 300%;
  height: 100%;
  -webkit-animation: 60s linear infinite backgroundscroll;
          animation: 60s linear infinite backgroundscroll;
  background-repeat: repeat-x;
}

.blur-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), color-stop(10%, #00000000), color-stop(20%, #121212), to(#121212));
  background: linear-gradient(#00000000, #00000000 10%, #121212 20%, #121212);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.stripped-red-dark-background {
  background: -webkit-gradient(linear, right top, left top, from(#390402), color-stop(50%, #390402), color-stop(50%, #1f1f1f), to(#1f1f1f)) repeat;
  background: linear-gradient(to left, #390402, #390402 50%, #1f1f1f 50%, #1f1f1f) repeat;
  background-size: 10%;
}

.dark-background {
  background: #121212;
}

.title {
  text-shadow: 0 0 5px black;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title img {
  width: 80%;
}

.heading {
  font-weight: bolder;
  font-size: 38px;
}

.project-link {
  font-weight: bolder;
  color: #f74843;
  font-size: 70px;
  margin: 12px 6px;
}

.project-link:hover {
  color: #fff;
}

.paragraph {
  font-weight: bolder;
  font-size: 40px;
  margin: 12px 6px;
}

.middle-align {
  text-align: center;
}

.footer {
  width: 100%;
  height: 40px;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
}

.footer p {
  text-align: center;
  display: inline-block;
}

.heart {
  padding: 6px;
  margin: 0 4px;
  display: inline-block;
}

.heart:hover {
  -webkit-animation: 0.3s infinite linear rotation;
          animation: 0.3s infinite linear rotation;
}

p a {
  font-weight: bolder;
  color: #f74843;
}

p a:hover {
  color: #fff;
}
/*# sourceMappingURL=master.css.map */