// Import the colour palette

@import 'palette';

// Animations

@keyframes wavvy_text {
  0% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }

  25% {
    transform: rotate(1deg) translateY(0) scale(1);
  }

  50% {
    transform: rotate(0deg) translateY(-5px) scale(0.99);
  }

  75% {
    transform: rotate(-1deg) translateY(0) scale(1);
  }

  100% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }
}
@keyframes rotation {
  from {
    // filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    // filter: hue-rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes backgroundscroll {
  from {
    //transform: translate3d(0, 0, 0);
    background-position: 0 0;
  }

  to {
    //transform: translate3d(-100%, 0, 0);
    background-position: -1000% 0;
  }
}
@keyframes verticalscrolltransparent {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  30% {
    opacity: 0.8;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(12px);
    opacity: 0;
  }
}

// Global styles

* {
  margin: 0;
  padding: 0;
}

body {
  color: $primary_colour;
  font-family: $font;
  background: $primary_background_colour;
}

a {
  text-decoration: none;
  color: $primary_colour;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

// Navigation related styles

.nav {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  z-index: 100;

  a {
    border-radius: 0 0 50px 50px;
    background: $primary_background_colour;
    overflow: hidden;
    margin: 0 12px;
    height: 130px;
    width: 58px;
    transform: translateY(-80px);
    box-shadow: 0 0 5px black;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: translateY(0px);
    }
  }

  img {
    height: 38px;
    padding: 4px 10px 8px 10px;
  }

  p {
    writing-mode: vertical-rl;
    font-weight: bolder;
    height: 69px;
    width: 36px;
    text-align: left;
    line-height: 18px;
    margin: 8px 6px 3px 6px;
  }
}

// Wrapper styles

.wrapper {
  position: relative;
  width: 80%;
  padding: 80px 10% 80px;
  margin: auto;
}

.wrapper-100-100 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper-100w {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hinted-down {
  &::after {
    font-family: monospace;
    content: '>';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    opacity: 0;
    padding: 10px;
    font-size: 70px;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    text-shadow: 0px 0px 5px black;
    animation: 1s linear infinite verticalscrolltransparent;
    animation-delay: 5s;
    animation-iteration-count: 3;
  }
}

// Hero related styles

.hero-flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Background related styles

.scrolling-background {
  width: 100%;
  height: 100%;
  animation: 60s linear infinite backgroundscroll;
  background-repeat: repeat-x;
}

.blur-background {
  background: $secondary_background;
  backdrop-filter: blur(10px);
}

.stripped-red-dark-background {
  background: linear-gradient(
      to left,
      darken($secondary_colour, 50%),
      darken($secondary_colour, 50%) 50%,
      lighten($primary_background_colour, 5%) 50%,
      lighten($primary_background_colour, 5%)
    )
    repeat;
  background-size: 10%;
}

.dark-background {
  background: $primary_background_colour;
}

// Title images and text related styles

.title {
  text-shadow: 0 0 5px black;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 80%;
  }
}

// Text related styles

.heading {
  font-weight: bolder;
  font-size: 38px;
}

.project-link {
  font-weight: bolder;
  color: $secondary_colour;
  font-size: 70px;
  margin: 12px 6px;

  &:hover {
    color: $primary_colour;
  }
}

.paragraph {
  font-weight: bolder;
  font-size: 40px;
  margin: 12px 6px;
}

.middle-align {
  text-align: center;
}

// TODO: Make an actual roadmap

// Roadmap related styles

.roadmap {
  display: flex;
  flex-direction: row;
  max-height: 800px;
  width: 100%;
  align-items: start;
  margin: 20px;
}

/*
.roadmap-Q1,.roadmap-Q2,.roadmap-Q3,.roadmap-Q4{
  flex: 1 1 0;
  overflow: hidden;

  >h1{
    flex: 0 0 80px;
    padding: 12px;
    text-align: center;
    background: $secondary_background_colour;
    border-bottom: 2px solid $secondary_colour;
  }
}

.roadmap-task{
  flex: 1 1 80px;
  background: $primary_colour;
  padding: 6px;
  margin: 4px;
  color: $primary_background_colour;

  >h1{

  }

  >h2{
    font-weight: lighter;
    font-size: 28px;
    float: right;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .roadmap-task-title{
    letter-spacing: 4px;
  }

  .roadmap-task-body{

  }

  .roadmap-task-list{
    p{
      position: relative;
      font-size: 32px;
      font-weight: bolder;
      padding-left: 4px;
      margin: 4px 2px;

      &::before{
        position: absolute;
        content: "-";
        left: -10px
      }
    }
  }
}*/

// Footer related styles

.footer {
  width: 100%;
  height: 40px;
  background: $primary_background_colour;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;

  p {
    text-align: center;
    display: inline-block;
  }
}

// Spans and in-text links

.heart {
  padding: 6px;
  margin: 0 4px;
  display: inline-block;

  &:hover {
    animation: 0.3s infinite linear rotation;
  }
}

p a {
  font-weight: bolder;
  color: $secondary_colour;

  &:hover {
    color: $primary_colour;
  }
}

.coverart {
  margin: 20px;
  display: inline-block;

  img {
    width: 250px;
  }

  &.withdate {
    p {
      display: block;
      text-align: center;
    }
  }
}
