@keyframes wavvy_text {
  0% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }
  25% {
    transform: rotate(1deg) translateY(0) scale(1);
  }
  50% {
    transform: rotate(0deg) translateY(-5px) scale(0.99);
  }
  75% {
    transform: rotate(-1deg) translateY(0) scale(1);
  }
  100% {
    transform: rotate(0deg) translateY(5px) scale(1.01);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: sans-serif;
  background: linear-gradient(217deg, #3a64af, rgba(255, 0, 0, 0) 100%), linear-gradient(127deg, #2f0063, rgba(0, 255, 0, 0) 100%), linear-gradient(336deg, #6b0aba, rgba(0, 0, 255, 0) 100%);
}

a {
  text-decoration: none;
  color: #fff;
}

.room {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.room .cloth {
  flex: 3 1 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.room .cloth h1 {
  text-align: center;
  font-size: 64px;
  animation: 60s ease-in-out infinite wavvy_text;
}
.room .napkin {
  flex: 1 1 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.room .napkin h2 {
  text-align: center;
}
.room .table {
  flex: 2 1 200px;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media all and (min-width: 600px) {
  .room .table {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media all and (max-width: 600px) {
  .room .table {
    flex-direction: column;
    align-items: stretch;
  }
}
.room .table .plate {
  background: #fff;
  margin: 16px;
  padding: 16px;
  font-size: 24px;
  border-radius: 16px;
  transform: translateY(0px);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
  box-shadow: 0 0 0 #323232;
  text-align: center;
}
@media all and (min-width: 600px) {
  .room .table .plate {
    min-height: 50px;
    flex: 1 1 100px;
  }
}
@media all and (max-width: 600px) {
  .room .table .plate {
    min-height: 0;
    flex: 1 1 0;
  }
}
.room .table .plate:nth-child(odd) {
  background: linear-gradient(217deg, #ad2a2f, rgba(255, 0, 0, 0) 100%), linear-gradient(127deg, #cf3b40, rgba(0, 255, 0, 0) 100%), linear-gradient(336deg, #982529, rgba(0, 0, 255, 0) 100%);
}
.room .table .plate:nth-child(even) {
  background: linear-gradient(127deg, #4860a4, rgba(255, 0, 0, 0) 100%), linear-gradient(217deg, #647bbb, rgba(0, 255, 0, 0) 100%), linear-gradient(336deg, #405692, rgba(0, 0, 255, 0) 100%);
}
.room .table .plate:hover {
  transform: translateY(-16px);
  box-shadow: 0 16px 0 #323232;
}
.room .floor {
  flex: 1 1 50px;
}
.room .floor p {
  display: inline-block;
}

.nugget {
  background: linear-gradient(217deg, #ad2a2f, rgba(255, 0, 0, 0) 100%), linear-gradient(127deg, #cf3b40, rgba(0, 255, 0, 0) 100%), linear-gradient(336deg, #982529, rgba(0, 0, 255, 0) 100%);
  padding: 6px;
  border-radius: 6px;
}
.nugget:hover {
  animation: 1s ease infinite rotation;
}

/*# sourceMappingURL=master.css.map */
